<!-- <h1 class="page-header">About the Firm</h1> -->
<div class="container">
  <h1 class='page-header'>About the Firm</h1>
  <hr>
  <div class="youtube-video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hoydCykwMWs" frameborder="0" allowfullscreen class='text-center'></iframe>
  </div>
  <hr>
  <section>
    <h2>Leading Entrepreneurs To Financial Success</h2>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, LLP, our goal is to lead you to financial success. We value our client relationships because knowing you and your business can help us anticipate your needs. This also enables us to solve problems before they become major issues, and assist you in eliminating poor practices before they become habits. To achieve this, we want to develop a collaborative client relationship, work closely with you and meet at a minimum on a quarterly basis (even if it appears there are no issues to discuss).
    </p>
  </section>
  <hr>
  <section>
    <h3>We Make Serving You Our Highest Priority</h3>
    <p class='justify'>
      Without highly satisfied clients, we wouldn't be where we are today. Ultimately, your business is our business. We constantly ask, "What if it was my business? What would I do?" If you don't succeed, neither do we.
    </p>
  </section>
  <hr>
  <section>
    <h3>We Tell It To You Straight</h3>
    <p class='justify'>
      We dislike ambiguity. If we can't give you an answer in plain English, then we aren't doing our job. When a difficult issue arises, we lay it out clearly so you know all your options.
    </p>
  </section>
  <hr>
  <section>
    <h3>We Take A Stand</h3>
    <p class='justify'>
      We know there's more to business than just taxes. That's why we train our professionals to be business advisors as well as CPAs. Our clients depend on us for creative solutions to their business problems. We offer the available alternatives and tell you what we think you should do.
    </p>
  </section>
  <hr>
  <section>
    <h3>We Won't Waste Your Time Or Your Money</h3>
    <p class='justify'>
      We know you’re busy and we don’t waste your time in extra meetings or phone calls. You come to us for essential information and services, and our business advisors give you exactly what you pay for - without the red tape.
    </p>
  </section>
  <hr>
  <section>
    <h3>We're Experts In Your Industry</h3>
    <p class='justify'>
      You can trust our advice because we know your industry. If our experts don't know the answers, we will refer you to someone who does. You see, if we don't know your business, we don't deserve your business. It's that simple.
    </p>
  </section>
</div>
