<!-- <h1 class="page-header">Accounting and Assurance</h1> -->
<div class="container">
  <%= image_tag "accounting_and_assurance", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Accounting and Assurance</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp;Cleland provide audit, accounting and assurance services for businesses and individuals. We help you understand your financial information in order to manage your business better.
    </p>
    <p>
      We offer a variety of services to help you identify and address business challenges and opportunities.
    </p>
  </section>
  <hr>
  <section>
    <h3>Assurance Services</h3>
    <li class="partner-li">- Financial statements: audit, review, compilation, agreed upon procedures</li>
    <li class="partner-li">- Employee benefit plan audits</li>
    <li class="partner-li">- Forecasts and projections: examination, compilation, assembly</li>
    <li class="partner-li">- Attestation engagements: examination, review, agreed upon procedures</li>
    <li class="partner-li">- Specifically designed assurance services</li>
    <li class="partner-li">- Collateral examinations</li>
  </section>
  <hr>
  <section>
    <h3>Accounting Services</h3>
    <li class="partner-li">- Reporting analysis - Assist the business owner in creating and analyzing financial
   data into an understandable format</li>
    <li class="partner-li">- Benchmarking</li>
    <li class="partner-li">- Development of key performance measures</li>
    <li class="partner-li">- Fraud prevention and internal control reviews</li>
    <li class="partner-li">- Monthly/quarterly processing of financial information</li>
    <li class="partner-li">- Payroll preparation, tax reporting and record keeping</li>
    <li class="partner-li">- Start-up assistance and accounting systems development</li>
    <li class="partner-li">- Bookkeeping assistance/training and overload services</li>
    <li class="partner-li">- Pension/profit sharing/information returns</li>
    <li class="partner-li">- Trust accounting services</li>
    <li class="partner-li">- Personal record keeping and budgeting</li>
    <li class="partner-li bottom-li">- Business plan developments</li>
  </section>
</div>
