<!-- <h1 class='page-header'>Available Positions</h1> -->
<div class="container">
  <%= image_tag "available_positions", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Positions Available</h1>
  <hr>
  <section>
    <h3>Interested In Joining the Firm?</h3>
    <p class='justify'>
      Please e-mail or fax Steve Cleland in order to apply.
    </p>
    <li class="partner-li"><strong>Steve Cleland</strong></li>
    <li class="partner-li">Beach Freeman Lim &amp; Cleland, LLP</li>
    <li class="partner-li">861 Parkview Drive North, Suite 200</li>
    <li class="partner-li">El Segundo, CA 90245</li>
    <li class="partner-li"><%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %></li>
    <li class="partner-li">310-447-0287 (fax)</li>
  </section>
</div>
