<!-- <h1 class='page-header'>Business Advisory</h1> -->
<div class="container">
  <%= image_tag "business_advisory", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Business Advisory</h1>
  <hr>
  <section>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, you'll see our business advisory services every day. We work hard to understand your business as well as bring our specific industry knowledge to the table to help you manage and grow your business.
    </p>
    <p> class='justify'
      We focus on your goals. Our sole job is to see that you succeed and to celebrate with you in your many successes. We deliver results by looking beyond conventional solutions and giving more than routine advice.
    </p>
    <p class='justify'>
      Our firm was organized to specifically address the business issues facing private companies. Closely-held companies encounter numerous obstacles during their life cycles ranging from initial capitalization, developmental stage, expansion, merger and acquisition, reorganization and business perpetuation. Beach Freeman Lim &amp; Cleland's business advisors combine decades of experience with proactive problem solving to help management teams understand their business' value drivers, identify and overcome operational impediments and produce and implement recommendations designed to meet these goals.
    </p>
    <p class='justify'>
      Whether a client seeks to expand the business, sell the company or improve operations, Beach Freeman Lim & Cleland provide seasoned expertise that yields immediate results.
    </p>
    <p class='justify'>
      We have extensive experience in providing consulting services that assist our clients in several areas including:
    </p>
  </section>
  <section>
    <h3>Start-up Consulting</h3>
    <p class='justify'>
      Advice on the best type of entity, strategy, competitive analysis, budgeting, etc. The Beach Freeman Lim & Cleland Start-up Checklist ensures that no issue is ignored. We help your business hit the ground running from day one.
    </p>
  </section>
  <hr>
  <section>
    <h3>Operational Reviews</h3>
    <p class='justify'>
      This check-up focuses on the operational processes and flow of information within your company. We evaluate the effectiveness and efficiency of these processes, propose solutions to increase productivity and assist in the implementation of the proposed solutions.
    </p>
  </section>
  <hr>
  <section>
    <h3>Profit Improvement Studies</h3>
    <p class='justify'>
      We take a close look at your revenue streams and what expenditures are made to support those revenue streams. Where applicable, we review areas such as billing practices, pricing, cost of sales, accounts receivable and collection policies, inventory turnover, and general and administrative expenses. We compare these areas to what we have seen in our vast experience and to industry benchmarks.
    </p>
  </section>
  <hr>
  <section>
    <h3>Component/Segment Profitability Analysis</h3>
    <p class='justify'>
      We assist management with the analysis of profit centers and/or segments. This is a very effective tool to use to make informed decisions about expansion, pricing, compensation, management effectiveness or contraction.
    </p>
  </section>
  <hr>
  <section>
    <h3>Cash Flow Projections and Budgeting</h3>
    <p class='justify'>
      We assist you in developing a dynamic cash flow model that helps management properly plan for the year and make adjustments as assumptions change throughout the year.
    </p>
  </section>
  <hr>
  <section>
    <h3>Succession and Retirement Planning</h3>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland can help identify and develop the next generation of leaders and plan for business continuity. In addition, we assist in developing creative alternatives to help the retiring shareholders/partners in reaching their retirement goals while keeping the current and future shareholders and partners in mind.
    </p>
  </section>
  <hr>
  <section>
    <h3>Merger and Acquisition Advisory Services</h3>
    <p class='justify'>
      We help evaluate merger or acquisition potentials and assist you through the entire process including integration issues, entity structure and creative tax solutions to make the deal "sweeter."
    </p>
  </section>
  <hr>
  <section>
    <h3>Compensation</h3>
    <p>
      Splitting-the-pie and motivating personnel are big issues in many companies. We assist in the design and implementation of compensation solutions that are the right fit for the culture at your company.
    </p>
  </section>
</div>
