<h1 class='page-header'>Complex Business Transaction</h1>
<!-- <div class="container">
  <%= image_tag "complex_business_tranaction", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Business Transactions</h1>
  <hr>
  <section>
    <p class='justify'>
      From our beginning, Beach Freeman Lim &amp; Cleland have focused on representing closely held businesses and their entrepreneurial owners. In addition to traditional tax and financial services, we are frequently consulted in structuring business transactions:
    </p>
    <li class="partner-li">Mergers and Acquisitions</li>
    <li class="partner-li">Expansions</li>
    <li class="partner-li">Sales or Succession Planning</li>
    <li class="partner-li bottom-li">Reorganizations</li>
    <p>
      By working closely with our clients, we gain an understanding of their businesses and personal objectives. This enables us to provide valuable advice when our clients face major financial transactions.
    </p>
  </section>
</div> -->
