<h1 class='page-header'>Cost Segregation</h1>
<!-- <div class="container">
  <%= image_tag "cost_segregation", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Cost Segregation</h1>
  <hr>
  <section>
    <p class='justify'>
      Cost segregation studies may help you realize significant tax savings by carving out shorter-lived assets that are normally embedded in a building's construction or acquisition cost.
    </p>
    <p>
      Traditionally, businesses depreciate the costs of physical property, including buildings and associated costs over the course of decades. Recently the IRS began to allow taxpayers to recoup depreciation deductions that were understated in prior years. Now, businesses can take advantage of over 80 prior IRS revenue rulings and court cases not only to accelerate depreciation of certain assets, but also to recapture unclaimed depreciation deductions. In both instances, substantial tax savings could result.
    </p>
    <p>
      Through a process called cost segregation, a business separates and reclassifies costs of certain business property from the buildings in which property is located.
    </p>
  </section>
  <hr>
  <section>
    <h3>Buildings with the greatest cost savings potential include:</h3>
    <li class="partner-li">Office Buildings</li>
    <li class="partner-li">Apartment Complexes</li>
    <li class="partner-li">Auto Dealerships</li>
    <li class="partner-li">Shopping Centers</li>
    <li class="partner-li">Retail Chains and Supermarkets</li>
    <li class="partner-li">Restaurants</li>
    <li class="partner-li">Hospitals and Medical Centers</li>
    <li class="partner-li">Industrial/Manufacturing Facilities/Warehouses</li>
    <li class="partner-li bottom-li">Recreation and Sport Facilities</li>
    <p>
      Uncovering tax savings can be an excellent way for organizations to improve cash flow. However, with so much riding on accurately assessing what property can and cannot be reclassified, it is critical to work with experts. Beach Freeman Lim &amp; Cleland work closely with the top appraisal and engineering firms to bring you the best options iin cost segregation.
    </p>
  </section>
</div> -->
