<div class="container">
  <div class="row flex-column-reverse flex-md-row communication-row">
    <div class="col-md-9 col-md-push-3 partner-information">
      <div class="heading">
        <h1 class='page-header partner-page-name'>Doug Beach</h1>
        <div class="communication">
          <p class='text-muted partners-telephone'>
            <h6>Tel:</h6>
            <%= link_to "310-447-1234 x233", 'tel:1-310-447-1234' %>
          </p>
        </div>
        <div class="communication">
          <p class='text-muted'><h6>Email:</h6> <%= link_to "dbeach@bflc.com", 'mailto:dbeach@bflc.com' %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-9-pull partner-image">
      <%= image_tag "business_man_individual_partner" %>
    </div>
  </div>
  <!-- <div class="communication">
    <p>
      <%#= link_to "All Partners", partners_path %>
    </p>
  </div> -->
  <hr>
  <h4>Expertise</h4>
  <p>
    Doug is the Partner-in-Charge of the Tax Department at Beach Freeman Lim &amp; Cleland. Doug consults with clients on all aspects of their businesses including corporate and partnership structuring, mergers and acquisitions, compensation-related matters (including equity based compensation), tax credits, and state and local taxes. Doug's experience includes providing tax planning and consultation mainly for closely-held businesses and their owners; business planning (including multi-state); structuring investment in high-growth entrepreneurial entities; planning and implementing tax minimization strategies; taxable dispositions and like-kind exchanges; preparing and reviewing corporate, partnership and individual tax returns and representing clients before the IRS and state authorities.
  </p>
  <hr>
  <h4>Industry Focus</h4>
  <p>
    While primarily serving clients in real estate, manufacturing and distribution, and construction industries, Doug's experience also includes professional services (law, architecture, interior design, and advertising), not-for-profit, health care, mortgage banking and technology businesses.
  </p>
  <hr>
  <h4>Education</h4>
  <p>
    Bachelor of Arts, University of California, Los Angeles
  </p>
</div>
