<!-- <h1 class='page-header'>Estate Planning</h1> -->
<div class="container">
  <%= image_tag "estate_planning", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Estate Planning</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland's estate planning services focus on developing strategies that allow wealth to be transferred while seeking to minimize taxation.
    </p>
  </section>
  <hr>
  <section>
    <h3>Services include:</h3>
    <li class="partner-li">Analysis of wills and trusts</li>
    <li class="partner-li">Charitable planning</li>
    <li class="partner-li">Gift and estate planning</li>
    <li class="partner-li">Uses of specialized vehicles such as family limited partnerships</li>
    <li class="partner-li bottom-li">Review of life and other insurance needs</li>
    <p class='justify'>
      We work with you to develop a plan and then assist in its implementation - all focusing on meeting your personal goals.
    </p>
  </section>
</div>
