<h1 class='page-header'>Fraud Prevention</h1>
<!-- <div class="container">
  <%= image_tag "fraud_prevention", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Fraud Prevention</h1>
  <hr>
  <section>
    <p class='justify'>
      The number one reason employees steal from their employers is...<strong>because they can</strong>.
    </p>
  </section>
  <hr>
  <section>
    <h3>Other interesting facts from this study:</h3>
    <ul>
      <li>Median amount of loss is $100,000</li>
      <li>Average fraud scheme lasts 18 months</li>
      <li class='bottom-li'>Very little or no recovery of funds lost</li>
    </ul>
    <p>
      At Beach Freeman Lim &amp; Cleland, we understand the potential risk fraud poses to our clients. We also know that our clients are cost conscious so we help each client design a budget-oriented but effective system of internal controls to assist in the prevention, deterrence and detection of fraud.
    </p>
    <p>
      Beach Freeman Lim &amp; Cleland's fraud prevention experts can help you as follows:
    </p>
  </section>
  <section>
    <h4>Systems Review</h4>
    <p>Provide evaluations and recommendations for improved internal controls.</p>
  </section>
  <section>
    <h4>Documentation and Testing</h4>
    <p>Document and test to ensure functionality.</p>
  </section><section>
    <h4>Fraud Audit</h4>
    <p>Review documentation to determine if fraud has occurred and/or determine extent of loss.</p>
    <%= link_to "List of Critical Internal Controls for Fraud Prevention", '#' %>
  </section>
</div> -->
