<div class="container">
  <div class="row flex-column-reverse flex-md-row communication-row">
    <div class="col-md-9 col-md-push-3 partner-information">
      <div class="heading">
        <h1 class='page-header partner-page-name'>Gary Freeman</h1>
        <div class="communication">
          <p class='text-muted partners-telephone'>
            <h6>Tel:</h6>
            <%= link_to "310-447-1234 x232", 'tel:1-310-447-1234' %>
          </p>
        </div>
        <div class="communication">
          <p class='text-muted'><h6>Email:</h6> <%= link_to "gfreeman@bflc.com", 'mailto:gfreeman@bflc.com' %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-9-pull partner-image">
      <%= image_tag "business_man_individual_partner" %>
    </div>
  </div>
  <hr>
  <h4>Expertise</h4>
  <p>
    Gary is a Partner in Beach Freeman Lim &amp; Cleland's Audit and Accounting services division. Having more than 18 years of experience in accounting and consulting, Gary has provided his expertise to a variety of closely and publicly held growth businesses in strategic planning, business consulting, auditing and accounting services. Gary has also assumed interim senior level management roles at numerous public and private companies in a variety of industries during his career.
  </p>
  <hr>
  <h4>Industry Focus</h4>
  <p>
    Gary has worked with companies in a variety of industries, including technology, manufacturing and distribution, professional services, healthcare, real estate and retail.
  </p>
  <hr>
  <h4>Background</h4>
  <p>
    Gary's previous experience includes 10 years with BDO Seidman, LLP, including two years as a Partner and as a member of the firm's 10 person Strategic Planning Committee. Gary also co-founded the consulting firm Catalyst Business Systems in 2000, which was merged into a large local Southern California based accounting firm in 2002, and C&amp;F Properties, an owner and manager of multifamily real estate in the Midwest.
  </p>
  <hr>
  <h4>Professional Affiliations and Memberships</h4>
    <li class='partner-li'>Board of Directors and Chairman of the Audit Committee, AtheroNova, Inc. (AHRO)</li>
    <li class='partner-li'>Board of Directors, Saleen Automotive, Inc. (SLNN)</li>
    <li class='partner-li'>Board of Directors, Vantage Associates, Inc. (ESOP owned company)</li>
    <li class='partner-li'>Steering Committee, John R. Wooden Award</li>
  <hr>
  <h4>Education</h4>
  <p>
    Bachelor of Business Administration, University of Notre Dame
  </p>
</div>
