<!-- <h1 class="page-header">Gene Lim</h1> -->
<div class="container">
  <div class="row flex-column-reverse flex-md-row communication-row">
    <div class="col-md-9 col-md-push-3 partner-information">
      <div class="heading">
        <h1 class='page-header partner-page-name'>Gene Lim</h1>
        <div class="communication">
          <p class='text-muted partners-telephone'>
            <h6>Tel:</h6>
            <%= link_to "310-447-1234 x224", 'tel:1-310-447-1234' %>
          </p>
        </div>
        <div class="communication">
          <p class='text-muted'><h6>Email:</h6> <%= link_to "glim@bflc.com", 'mailto:glim@bflc.com' %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-9-pull partner-image">
      <%= image_tag "business_man_individual_partner" %>
    </div>
  </div>
  <hr>
  <h4>Expertise</h4>
  <p>
    Gene is the Managing Partner at Beach Freeman Lim &amp; Cleland. Gene specializes in income tax and business planning for closely held companies and high net worth individuals.
  </p>
  <p>
    He assists with entity structure and formations, mergers and acquisitions and works closely with clients to keep accurate books and records to help them make better informed decisions on running their business.
  </p>
  <p>
    In addition, Gene works with high net worth individuals and their families on estate, trust, and planning issues.  Gene is involved in all facets of our clients’ financial lives, from consulting on the selection of outside advisors, to business, personal and tax planning.
  </p>
  <hr>
  <h4>Industry Focus</h4>
  <p>
    Gene's industry focus includes manufacturing and distribution, professional services (medical and legal) and real estate.
  </p>
  <hr>
  <h4>Background</h4>
  <p>
    Gene started his career at BDO Seidman and then worked several years at a local firm in Torrance, California.
  </p>
  <hr>
  <h4>Education</h4>
  <li class='partner-li'>Master in Business Taxation, Golden Gate University</li>
  <li class='partner-li bottom-li'>Bachelor of Arts, University of California, Los Angeles</li>
</div>
