<h1 class='page-header'>Healthcare</h1>
<!-- <div class="container">
  <%= image_tag "healthcare", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Healthcare</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland understands the healthcare industry and is skillfully positioned to help our clients thrive and prosper in challenging times. We are dedicated to serving healthcare organizations like yours. Our professionals keep you well prepared by offering an integrated approach, advising you on the most relevant issues impacting your business. We have extensive experience based on years of serving the healthcare sector that they will apply to your unique situation.
    </p>
  </section>
  <hr>
  <section>
    <h3>The Beach Freeman Lim &amp; Cleland Healthcare team provides services in the following areas:</h3>
    <li class="partner-li">- Physician Practices</li>
    <li class="partner-li">- Surgical Centers</li>
    <li class="partner-li">- Long-term Care and Skilled Nursing Facilities</li>
    <li class="partner-li">- Home Care and Hospice</li>
    <li class="partner-li bottom-li">- Community Health Centers</li>
    <p class='justify'>
      Many healthcare businesses face common issues today such as a high dependence on skilled labor, an accelerating shortage of qualified nurses, an increasing focus on technology including e-procurement, the use of IT for improved communication, better recordkeeping, quicker diagnostic reporting, efficient supply purchasing/inventory control and outsourcing food service, laundry, housekeeping, and other nonessential services. In addition, we understand that healthcare businesses are a hotbed for fraudulent activity so we spend extra time with management to help you protect yourself. Click here for a sample of Critical Fraud Prevention procedures that you can implement today. Beach Freeman Lim &amp; Cleland's team of professionals offers the hands-on experience and technical skill to address the distinctive business needs of our healthcare clients.
    </p>
  </section>
  <hr>
  <section>
    <h3>For more information, please contact:</h3>
    <h5>Gary Freeman</h5>
    <p>
      <%= link_to "310-447-1234 x232", 'tel:1-310-447-1234' %>
      <br>
      <%= link_to "gfreeman@bflc.com", 'mailto:gfreeman@bflc.com' %>
    </p>
  </section>
</div> -->
