<!-- <h1 class='page-header'>Mergers</h1> -->
<div class="container">
  <%= image_tag "mergers", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Mergers and Acquisitions</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland's mergers and acquisitions services offer support services for you - whether you are buying, selling or combining two organizations.
    </p>
    <p class='justify'>
      In a recent study of fraud conducted by the Association of Certified Fraud examiners, small privately held companies (fewer than 100 employees) are the most vulnerable to occupational fraud. In fact, small companies are 100 times more vulnerable to fraud than large companies.
    </p>
  </section>
  <hr>
  <section>
    <h3>Services include:</h3>
    <li class="partner-li">Conduct audits and evaluate assets of acquired companies</li>
    <li class="partner-li">Perform other due diligence in connection with acquisitions</li>
    <li class="partner-li">Help structure and perform due diligence on multi-entity acquisitions</li>
    <li class="partner-li">Advise on proper accounting methods and adjustments</li>
    <li class="partner-li">Review and advise on acquisition agreements</li>
    <li class="partner-li">Create pro forma financial statements for combined entities</li>
    <li class="partner-li">Coordinate the nature of combining accounting and administrative support</li>
    <li class="partner-li">Advise on tax planning opportunities</li>
    <li class="partner-li bottom-li">Work with attorneys, bankers and venture capitalists</li>
  </section>
</div>
