<div class="container">
  <h1 class='page-header'>Our Partners</h1>
</div>

<section class="jumbotron man-image partners-jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-5 ">
        <%= link_to image_tag('business_man_small'), doug_beach_path %>
      </div>
      <div class="col-md-7">
        <h5 class='text-muted jumbotron-text'>
          Doug is the Partner-in-Charge of the Tax Department at Beach Freeman Lim &amp; Cleland. Doug consults with clients on all aspects of their businesses including corporate and partnership structuring, mergers and acquisitions, compensation-related matters (including equity based compensation), tax credits, and state and local taxes.
        </h5>
      </div>
    </div>
  </div>
</section>
