<!-- <h1 class='page-header'>Starting a Business</h1> -->
<div class="container">
  <%= image_tag "starting_a_business", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Starting a Business</h1>
  <hr>
  <section>
    <p class='justify'>
      Starting up a business can be daunting.  Let us help guide you through the process.
    </p>
    <p class='justify'>
      Our professionals can help you with choosing the right entity (with attorney input) and structure, tax planning for the structure that is created, discuss deductibility of expenses, budgeting and cashflow planning, financing, accounting structure, internal controls and fraud prevention, other tax and licensing issues etc.
    </p>
    <p class='justify'>
      We will also introduce other critical professionals to help your journey to success run a little smoother.
    </p>
  </section>
  <hr>
  <section>
    <h3>Choice of Entity</h3>
    <p class='justify'>We will help you decide what entity fits your needs from a tax perspective as follows:</p>
    <li class="partner-li">Sole Proprietorship</li>
    <li class="partner-li">Partnership</li>
    <li class="partner-li">Corporation</li>
    <li class="partner-li">S-Corporation</li>
    <li class="partner-li">Limited Liability Company (LLC)</li>
  </section>
  <hr>
  <section>
    <h3>Common Deductible Business Expenses</h3>
    <p class='justify'>
      Many new business owners are unsure of what can be deducted for business purposes.  We will walk you through the basics of what is deductible and what is not.
    </p>
    <p><%= link_to "List of common deductible business expenses", asset_path("common_deductible_expenses.pdf"), target: '_blank' %></p>
  </section>
  <hr>
  <section>
    <h3>Budgeting and Cashflow Planning</h3>
    <p class='justify'>
      We can assist you in planning for your revenues and expenses along with the timing of cash flows so that you can plan properly.
    </p>
  </section>
  <hr>
  <section>
    <h3>Internal Controls and Fraud Prevention</h3>
    <p class='justify'>
      You work hard to create profit and cashflow in your business.  We want you to make sure that it is protected.  Our professionals work closely with the business owners to create a customized set of controls that apply to the type of business that they are operating.
    </p>
    <p>
      <%= link_to "List of critical controls to help you prevent fraud in your business", asset_path("internal_control_points.pdf"), target:'_blank' %>
    </p>
  </section>
</div>
