<!-- <h1 class="page-header">Steve Cleland</h1> -->
<div class="container">
  <div class="row flex-column-reverse flex-md-row communication-row">
    <div class="col-md-9 col-md-push-3 partner-information">
      <div class="heading">
        <h1 class='page-header partner-page-name'>Steve Cleland</h1>
        <div class="communication">
          <p class='text-muted partners-telephone'>
            <h6>Tel:</h6>
            <%= link_to "310-447-1234 x239", 'tel:1-310-447-1234' %>
          </p>
        </div>
        <div class="communication">
          <p class='text-muted'><h6>Email:</h6> <%= link_to "scleland@bflc.com", 'mailto:scleland@bflc.com' %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-9-pull partner-image">
      <%= image_tag "business_man_individual_partner" %>
    </div>
  </div>
  <hr>
  <h4>Expertise</h4>
  <p>
    Steve works closely with individual, business and non-profit clients. He has a strong background in assurance services (audit, review and compilation) assisting clients with selection of accounting policies and procedures that are consistent with business owner goals.
  </p>
  <p>
    In addition, Steve brings in-depth experience in auditing Employee Benefit Plans.
  </p>
  <p>
    As a Certified Fraud Examiner, Steve assists clients with fraud prevention techniques and fraud investigation. Steve also provides financial and management consulting services to companies in various industries such as partner compensation, profitability enhancement, cash flow analysis, budgeting, retirement planning, new company start-up consulting, turnaround consulting and bankruptcy (debtor and creditor).
  </p>
  <hr>
  <h4>Industry Focus</h4>
  <p>
    Steve has extensive experience serving clients in the professional services (law, medical, architecture, interior design and advertising), construction, technology, manufacturing, distribution, not-for-profit, mortgage banking and retail industries.
  </p>
  <hr>
  <h4>Background</h4>
  <p>
    After starting his career as a Canadian Chartered Accountant in Toronto, Steve served for over six years at a large local CPA firm where he was a Principal and managed the Audit &amp; Accounting Department and the Law Firm Services Group.
  </p>
  <hr>
  <h4>Speaking Engagements and Public Works</h4>
  <p>
    Steve has spoken to various associations on fraud prevention, cash management and managing a professional service firm and has been published in the following:
  </p>
  <ul>
    <li>Los Angeles Business Journal</li>
    <li>Octane Magazine for Entrepreneurs</li>
    <li>ALA Leadership Exchange</li>
    <li>ALA Management Encyclopedia</li>
    <li>Los Angeles County Bar Update</li>
  </ul>
  <hr>
  <h4>Professional Affiliations and Memberships</h4>
  <ul>
    <li>AICPA Employee Benefit Plan Audit Quality Center</li>
    <li>American Institute of Certified Public Accountants</li>
    <li>Association of Certified Fraud Examiners</li>
    <li>Entrepreneurs' Organization</li>
  </ul>
  <hr>
  <h4>Community Involvement</h4>
  <ul>
    <li>Youth Sports Coach - AYSO, ASA Girls Softball, Little League, In-line Hockey</li>
    <li>
      Entrepreneur's Organization
      <ul>
        <li>Finance Director - US West Region</li>
        <li>Global Standing Finance Committee</li>
      </ul>
    </li>
  </ul>
  <hr>
  <h4>Education</h4>
  <p>Bachelor of Business Administration, Wilfrid Laurier University, Waterloo, Ontario</p>
</div>
