<h1 class='page-header'>Strategic Planning</h1>
<!-- <div class="container">
  <%= image_tag "strategic_planning", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Strategic Planning</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland's Strategic Planning Consulting Practice focuses on both strategic planning to develop and communicate the company business strategy as well as strategic performance measurement to give management the cost and measurement tools to assess and improve performance in those areas of strategic importance to your company.
    </p>
    <p>
      Some of the services we provide include:
    </p>
  </section>
  <section>
    <h3>Strategic Planning:</h3>
    <li class="partner-li">Evaluation of existing strategy</li>
    <li class="partner-li">Development of new strategy</li>
    <li class="partner-li">Help structure and perform due diligence on multi-entity acquisitions</li>
    <li class="partner-li">Assistance in development and presentation of business plans</li>
    <li class="partner-li bottom-li">Development of financial models and projections</li>
  </section>
  <section>
    <h3>Strategic Performance Measurement:</h3>
    <li class="partner-li">Development of approaches to measure effectiveness of business strategy</li>
    <li class="partner-li">Strategic measurement integration with management reporting</li>
    <li class="partner-li bottom-li">Development of cost systems and profitability analysis for strategic decision making</li>
  </section>
</div> -->
