<!-- <h1 class='page-header'>Succession</h1> -->
<div class="container">
  <%= image_tag "succession", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Succession Planning</h1>
  <hr>
  <section>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland's succession planning services focus on helping closely held businesses plan leadership transitions. We understand that when expectations are clear in advance, there will be less disruption to your business and less turmoil for owners, employees and family members. Thorough succession planning produces smoother transitions.
    </p>
  </section>
  <hr>
  <section>
    <h3>We help you focus on key issues such as:</h3>
    <ul>
      <li>Structuring ownership and control</li>
      <li>Minimizing estate and capital gains taxes</li>
      <li>Retaining key employees</li>
      <li>Maintaining liquidity</li>
      <li class='bottom-li'>Providing for spouses and children</li>
    </ul>
  </section>
</div>
