<h1 class="page-header">Susan Lewis</h1>
<!-- <div class="container">
  <div class="row flex-column-reverse flex-md-row communication-row">
    <div class="col-md-9 col-md-push-3 partner-information">
      <div class="heading">
        <h1 class='page-header partner-page-name'>Susan Lewis</h1>
        <div class="communication">
          <p class='text-muted partners-telephone'>
            <h6>Tel:</h6>
            <%= link_to "310-447-1234 x230", 'tel:1-310-447-1234' %>
          </p>
        </div>
        <div class="communication">
          <p class='text-muted'><h6>Email:</h6> <%= link_to "slewis@bflc.com", 'mailto:slewis@bflc.com' %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-9-pull partner-image">
      <%= image_tag "business_woman_individual_partner" %>
    </div>
  </div>
  <hr>
  <h4>Expertise</h4>
  <p>
    Susan is a Partner in Beach Freeman Lim &amp; Cleland’s Audit and Accounting services division.  She has approximately 20 years of experience in public accounting, providing financial and compliance audits, reviews, compilations, and business consulting to privately-held companies and non-profit organizations.
  </p>
  <p>
    Susan is experienced in advising clients on accounting policies that are appropriate for their organization as well as complex accounting and reporting issues, which include equity and debt financing, and revenue recognition.  In addition, Susan works closely with clients in the evaluation of internal controls, and provides recommendations for improving operations.
  </p>
  <hr>
  <h4>Industry Focus</h4>
  <p>
    Her broad range of experience includes serving clients in the retail, manufacturing, 401(k), service station, distribution, technology, construction, real estate, healthcare and non-profit industries.
  </p>
  <hr>
  <h4>Background</h4>
  <p>
    Susan’s previous experience included 9 years at a large regional firm in Southern California, and several years at two smaller firms.
  </p>
  <p>
    Prior to her career in public accounting, Susan served 4 years in the U.S. Air Force.
  </p>
  <hr>
  <h4>Professional Affiliations</h4>
  <li class='partner-li'>American Institute of Certified Public Accountants</li>
  <li class='partner-li'>AICPA Employee Benefit Plan Audit Quality Center</li>
  <hr>
  <h4>Education</h4>
  <p>
    Bachelor of Science – Accounting, Weber State University, Ogden, Utah
  </p>
</div> -->
