<h1 class='page-header'>Tax Services</h1>
<!-- <div class="container">
  <%= image_tag "tax_services", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Tax Services</h1>
  <hr>
  <section>
    <p class='justify'>
      Our tax work is comprised of two areas: compliance and consulting. Many firms highlight their tax consulting services, sometimes to the exclusion of tax compliance. The reality is that both are important. Even the most sophisticated tax consulting will not make a difference in your tax position if you are not in compliance with the applicable tax rules and regulations.
    </p>
    <p class='justify'>
      We have a great deal of experience in the tax compliance area. This experience applies to all major entities, such as corporate, individual, partnership, trust and estate. This experience is at all levels: Federal, California, multi-state and international. Although closely-held businesses are so diverse in their size and structure, we are as familiar with the rules that apply to large corporations as we are with small corporations.
    </p>
    <p>
      That is not to underplay the importance of proper tax planning. In order to minimize or defer payment of taxes we pay particular attention to:
    </p>
  </section>
  <section>
    <h3>In-Depth Tax Planning</h3>
    <p>
      To integrate the personal tax goals of the owners/shareholders with those of the company resulting in an overall reduction of income taxes.
    </p>
  </section>
  <section>
    <h3>Transaction Planning</h3>
    <p>
      To help structure the timing and nature of taxable events to minimize taxes, including inter-company pricing and international issues.
    </p>
  </section>
  <section>
    <h3>Entity Structuring</h3>
    <p>To help determine the form of entity, which will provide maximum benefits.</p>
  </section>
  <section>
    <h3>Stock Incentive Plans</h3>
    <p>To reduce costs and taxes while improving key employee motivation.</p>
  </section>
  <section>
    <h3>Alternative Tax Planning</h3>
    <p>To help minimize the alternative minimum tax.</p>
  </section>
  <section>
    <h3>Investment Analysis</h3>
    <p>To determine the tax impact and financial effects of various investments.</p>
  </section>
  <section>
    <h3>Tax Credit Analysis</h3>
    <p>To be certain that all available tax credits have been taken in order to minimize your taxes.</p>
  </section>
  <section>
    <h3>Estate Planning</h3>
    <p>
      To minimize gift and estate taxes, maintain and enhance family wealth, and ensure control to meet your needs and objectives (both short and long term).
    </p>
    <p class='justify'>
      We do not believe our clients should be surprised by their tax position at filing time, so we emphasize the importance of timely tax projections. This forecasting process establishes tax-planning methods that allow you to make decisions to adjust your tax position before the end of the year. Likewise, we follow up on every completed tax return and financial statement with feedback, including suggestions for changes to better improve your position.
    </p>
  </section>
</div> -->
