<!-- <h1 class='page-header'>Why BFLC?</h1> -->
<div class="container">
  <%= image_tag "careers", class: 'our-services-image img-fluid' %>
  <h1 class='our-services-header'>Career Opportunities</h1>
  <hr>
  <section>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, we can offer you a meaningful and memorable experience.
    </p>
  </section>
  <hr>
  <section>
    <h3>A Clear Future Starts Here</h3>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, we work hard to provide unsurpassed professional service to a wide variety  of high-profile clients in many industries in the Los Angeles area. We have a strong track record of helping clients grow their businesses.
    </p>
    <p class="justify">
      We know that building solid relationships with our clients isn't just a nice idea; it's the backbone of our business.
    </p>
    <p class="justify">
      And how do we build these relationships? First and foremost, we hire excellent people. We hope you might be one of them.
    </p>
    <p class="justify">
      Whether you're just starting out or considering a new direction, we know you have many options and decisions.
    </p>
    <p class="justify">
      At Beach Freeman Lim &amp; Cleland, we can offer you a meaningful and memorable experience.
    </p>
  </section>
  <hr>
  <section>
    <h3>Access to Partners and Clients</h3>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, you'll work closely with and learn directly from our partners. You'll enjoy responsibility earlier in your career with us and receive solid training that enhances your professional development. Our partners are enthusiastic mentors, eager to provide feedback that helps our associates develop their skills and strengthen their decision-making capabilities.
    </p>
    <p class="justify">
      With our open door policy and first name basis for all partners and staff, you'll get to know our partners as well as your colleagues. And you'll work directly with clients, learning about their needs and serving as an advisor to support their business. It's a level of access that you won't find at the larger firms, but at Beach Freeman Lim &amp; Cleland, we believe in sharing our greatest assets - our people - directly with our clients.
    </p>
  </section>
  <hr>
  <section>
    <h3>Client Focus and Work Diversity</h3>
    <p class='justify'>
      Beach Freeman Lim &amp; Cleland serve a wide variety of clients in many industries. You'll have an opportunity to touch a range of clients and their businesses. We know that the better you know our clients, the more effective you'll be in helping their businesses grow and prosper.
    </p>
    <p class="justify">
      You won't be boxed into a single tax, audit or consulting focus. We know it's important to let you explore a range of paths to build your professional strengths, so you'll have the option to experience any or all of these areas.
    </p>
    <p class="justify">
      We'll also help you develop an industry specialty. By combining exceptional technical skills with industry expertise, we know you can truly make a difference in a client's business.
    </p>
    <p class="justify">
      At Beach Freeman Lim &amp; Cleland, you'll work closely with and learn directly from our partners. You'll enjoy responsibility earlier in your career with us and receive solid training that enhances your professional development. Our partners are enthusiastic mentors, eager to provide feedback that helps our associates develop their skills and strengthen their decision-making capabilities.
    </p>
    <p class="justify">
      With our open door policy and first name basis for all partners and staff, you'll get to know our partners as well as your colleagues.
    </p>
    <p class="justify">
      And you'll work directly with clients, learning about their needs and serving as an advisor to support their business. It's a level of access that you won't find at the larger firms, but at Beach Freeman Lim &amp; Cleland, we believe in sharing our greatest assets - our people - directly with our clients.
    </p>
  </section>
  <hr>
  <section>
    <h3>Professional Development</h3>
    <p class='justify'>
      At Beach Freeman Lim &amp; Cleland, we work closely with our employees to build their strengths as business generalists and advisors who can provide clients with the best possible tax, accounting and business advisory services.
    </p>
    <p class="justify">
      Our training is designed to develop both your accounting and consulting skills as well as to develop your professional abilities as a savvy business advisor.
    </p>
  </section>
  <hr>
  <section>
    <h3>Personal Attention</h3>
    <p class='justify'>
      As a Beach Freeman Lim &amp; Cleland staff member, you'll experience personal attention through mentoring and buddy systems as well as a direct report relationship with a colleague who will help guide you toward success. When you work at Beach Freeman Lim &amp; Cleland, you end up with more than a job. You gain a firm full of people who support and celebrate your success.
    </p>
    <p class="justify">
      At Beach Freeman Lim &amp; Cleland, we work closely with our employees to build their strengths as business generalists and advisors who can provide clients with the best possible tax, accounting and business advisory services. Our training is designed to develop both your accounting and consulting skills as well as to develop your professional abilities as a savvy business advisor.
    </p>
  </section>
  <hr>
  <section>
    <h3>Professional Respect and Real Responsibility</h3>
    <p class='justify'>
      You've worked hard to get where you are, and we respect that. At Beach Freeman Lim &amp; Cleland, you'll be recognized as a contributing professional and key team player and given the responsibilities and opportunities you deserve. So don't be surprised when partners ask for your opinions and clients turn to you for advice; they'll come to know you as a valuable resource who can help them succeed.
    </p>
  </section>
  <hr>
  <section>
    <h3>Balancing Life and Work</h3>
    <p class='justify'>
      Public accounting is hard, demanding work. And yes, overtime is expected at times. But how you approach the work can make a difference in the quality of your life. Enjoying a balanced life not only makes you a better person, it makes you a better accountant, advisor and colleague. So everyone wins.
    </p>
    <p class="justify">
      Life is about more than just making a living. So we'll work with you to shape the flexibility and balance you need to fit your work around your life, not the other way around.
    </p>
    <p class="justify">
      When your client load is light, we offer flex-time. And we offer alternative work schedules, including part-time schedules, so that you can better balance life and work based on your individual situation while still furthering your career.
    </p>
  </section>
  <hr>
  <section>
    <h3>Commitment to Client-Focused Services</h3>
    <p class='justify'>
      Our success is based on what we do best for our clients: deliver outstanding advice and services that help clients achieve their goals. We work as a cohesive group of professionals who find it rewarding and exciting to be involved in our client's business.
    </p>
    <p class="justify">
      We aren't just consultants who sit on the sidelines, tossing out advice like Monday morning quarterbacks. We're in the game with our clients every step of the way, studying the playbook and providing the best teams for their needs. We work hard to identify the best solutions to the wide-ranging challenges our clients face. It's what we thrive on. It's why our clients value us, and why our associates enjoy working with our clients.
    </p>
  </section>
  <hr>
  <section>
    <h3>Strong Growth Potential</h3>
    <p class='justify'>
      As one of LA's growing and most respected accounting firms, Beach Freeman Lim &amp; Cleland offer you a chance to be part of an exciting time and place. You'll grow with us - taking your career higher and with more opportunities and client and partner interactions than at any of the larger firms. Join us as we grow, together.
    </p>
  </section>
</div>
