/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require plugins/code_view.min.css
 *= require plugins/draggable.min.css
 *= require plugins/file.min.css
 *= require plugins/table.min.css
 *= require plugins/video.min.css
 *= require plugins/colors.min.css
 *= require plugins/image.min.css
 *= require plugins/image_manager.min.css
 *= require plugins/line_breaker.min.css
 *= require plugins/quick_insert.min.css
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'articles';
@import 'static_pages';
@import 'partners_page';
@import 'contact_us';
@import 'about_the_firm';
@import 'our_services';
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

html, body {
  min-height: 100%;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-opacity {
  opacity: 0.95;
}

.flash {
  margin-top: 4.5rem;
  margin-bottom: -4rem;
}

.clear { clear: both; height: 60px; }

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
}

footer p {
  margin-bottom: .25rem;
}

.justify {
  text-align: justify;
}

.navbar {
  margin-bottom: 0;
}

.red {
  color: red;
}

@media (max-width: 768px) {
  .partner-page-name {
    padding-top: 0;
  }
  // .page-header {
  //   padding-top: 0;
  // }

  .partner-information {
    margin-top: 0;
  }

  .communication-row {
    text-align: center;
  }
}
