@import "bootstrap";
@import "font-awesome";
@import 'articles';
@import 'static_pages';
@import 'partners_page';
@import 'contact_us';
@import 'about_the_firm';
@import 'our_services';

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#flash {
  margin-top: 6rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

footer p {
  margin-bottom: .25rem;
}

.justify {
  text-align: justify;
}

.navbar {
  margin-bottom: 0;
}

.red {
  color: red;
}

@media (max-width: 768px) {
  .partner-page-name {
    padding-top: 0;
  }
  // .page-header {
  //   padding-top: 0;
  // }

  .partner-information {
    margin-top: 0;
  }

  .communication-row {
    text-align: center;
  }
}
