.partners-jumbotron-index {
  background: image-url(cityscape);
  margin-bottom: 0;
  background-color: #fff;
  margin-bottom: 0px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  // height: 400px;
}

.partners-text {
  width: 75%;
  text-align: justify;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}

.partners-jumbotron {
  padding-top: 5rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #7f7f7;
  margin-bottom: 0px;
  background-position: 50%;
  color: white;
  height: 400px;
}
