@import 'bootstrap';

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

#flash {
  margin-top: 6rem;
}

.navbar {
  margin-bottom: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.jumbotron {
  padding-top: 10rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  margin-bottom: 0px;
  background-image: image-url(store_fronts);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 0;
  // height: 400px;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  // color: rgba(0, 0, 0, 0.5);
}

.jumbotron .container {
  // max-width: 40rem;
}

.partners-background {
  background: image-url(cityscape);
  margin-bottom: 0;
  background-color: #fff;
  margin-bottom: 0px;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  // height: 400px;
}

.partners-text {
  width: 75%;
  text-align: justify;
  margin: 0 auto;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}

.album {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: white;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card-text {
  font-size: 85%;
}

.justify {
  text-align: justify;
}

.card-button {
  border-radius: 0;
  background-color: rgba(136, 160, 199, 1);
  border: 1px solid rgba(136, 160, 199, 1);
}

.page-header {
  padding-top: 5rem;
}

.purple-button {
  background-color: rgba(136, 160, 199, 1);
  border: 1px solid rgba(136, 160, 199, 1);

  &:hover {
    background-color: rgba(136, 160, 199, .75);
    border: 1px solid rgba(136, 160, 199, .75);
    // color: black;
  }
}

.turquoise-button {
  background-color: rgba(75, 186, 224, 1);
  border: 1px solid rgba(75, 186, 224, 1);

  &:hover {
    background-color: rgba(75, 186, 224, .75);
    border: 1px solid rgba(75, 186, 224, .75);
    // color: black;
  }
}

.dark-turquoise-button {
  background-color: rgba(89, 164, 193, 1);
  border: 1px solid rgba(89, 164, 193, 1);

  &:hover {
    background-color: rgba(89, 164, 193, .75);
    border: 1px solid rgba(89, 164, 193, .75);
    // color: black;
  }
}

.map-responsive {
  overflow:hidden;
  padding-bottom:26.25%;
  position:relative;
  height:0;
  margin-top: 7rem;
}

.map-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

footer p {
  margin-bottom: .25rem;
}
